.marjin-right{
    margin-right: 60px;
}
.nav-item:hover .dropdown-menu{
    display:block!important
  }
.marjin-left{
    margin-left: 21.5%;
}
.marjin-left-2{
    margin-left: 32%;
}
.border-radius{
    border-radius: 1rem;
}
.logo-width{
    width: 14rem;
}